<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.DemandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.Demand">
        <id column="demand_id" property="demandId" />
        <result column="pid" property="pid" />
        <result column="d_name" property="demandName" />
        <result column="description" property="description" />
        <result column="department" property="department" />
        <result column="sort" property="sort" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="place" property="place" />
        <result column="engineer" property="engineer" />
        <result column="state" property="state" />
        <result column="phenomenon" property="phenomenon" />
        <result column="exception" property="exception" />
        <result column="evaluate" property="evaluate" />
        <result column="score" property="score" />
        <result column="advise" property="advise" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        demand_id AS "demandId", pid AS "pid", d_name AS "demandName", description AS "description", sort AS "sort", version AS "version", create_time AS "createTime", update_time AS "updateTime", department AS "department", place AS "place", engineer AS "engineer", phenomenon AS "phenomenon", exception AS "exception", evaluate AS "evaluate", score AS "score", advise AS "advise",create_user AS "createUser",state AS "state"
    </sql>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from sys_demand
        <if test="condition != null and condition != ''">
            where title like CONCAT('%',#{condition},'%') or content like CONCAT('%',#{condition},'%')
        </if>
        order by create_time DESC
    </select>


</mapper>
